/* 
Por: Juan Alejandro Orozco Ospina
     Juan Camilo Palleja Raigosa
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    height: 100vh;
}

#titulo{
    margin-bottom: 20px;
}

.card{
    background-color: #fff;
    width: 70%;
    border-radius: 20px;
    box-shadow: 4px 4px 16px 3px black;
    margin: 10px;
    padding: 24px;
}

.insert{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
}

.insert-container{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.insert-container > label{
    color: #323852;
    font-size: large;
    font-weight: bold
}

.insert-container > input{
    flex-basis: 100%;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 24px;
}

.documentation{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content:flex-start;
    height: 100%;
    padding: 12px;
    padding-left: 30px;
}

.documentation > p{
    color: #323852;
    font-size: large;
    font-weight: bold;
}

#statement{
    font-size: 20px;
}

#format{
    font-size: 20px;
    text-align: center;
    color: #0a9ce7;
}

.activate{
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

.activate-button {
    width: 125px;
    height: 50px;
    margin-right: 24px;
    background-color: #0a9ce7;
    color: #Fff;
    text-shadow: 2px 1px 1px black;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 3px 3px 6px black;
    border-style: none;
    border-color: #0a9ce7;
    border-radius: 10px;
}

.action{
    flex-basis: 60%;
}

#chart-wrapper {
    display: none;
    position: relative;
    width: 70%;
    background-color: rgb(237, 237, 237);
    align-items: center;
}

#chart-wrapper > button{
    margin-top: 50px;
}


#grantt{
    border-radius: 10px;
    background-color: white;
}


