*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
}

.insert{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    flex-basis: 20%;
}

.insert-container{
    display: flex;
    flex-direction: column;
}

.insert-container > label{
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold
}

.insert-container > textarea{
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 24px;
}

.documentation{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 100%;
    padding: 12px;
    padding-left: 30px;
}

.documentation > p{
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#format{
    font-size: 26px;
    text-align: center;
    color: rgb(15, 0, 220);
}

.activate{
    display: flex;
    padding: 12px;
    flex-basis: 20%;
}

#activate-button ,#clean-button{
    width: 70px;
    height: 30px;
    background-color: #4E6E81;
    color: #F9DBBB;
    text-shadow: 2px 1px 1px black;
    font-weight: bold;
    box-shadow: 3px 3px 6px black;
    border-style: none;
    border-color: #4E6E81;
    border-radius: 10px;
}

#clean-button{
    margin-left: 20px;
}

.action{
    flex-basis: 60%;
}

#chart-wrapper {
    display: inline-block;
    position: relative;
    background-color: white;
    border: black solid 2px;
    width: 1800px;
    height: 1000px;
    align-items: center;
  }